*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
cmake-build-debug
cmake-build-release
.vscode
third_party/lynx-textra/
third_party/googletest/
third_party/rapidjson/
