name: Build SVG Artifacts

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      build_android:
        description: "Build Android"
        required: true
        default: true
        type: boolean
      build_ios:
        description: "Build iOS"
        required: true
        default: true
        type: boolean
      build_harmony:
        description: "Build HarmonyOS"
        required: true
        default: true
        type: boolean

jobs:
  build-ios:
    name: Build iOS
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3

      - name: Install Cocoapods Generate
        run: |
          export SDKROOT=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
          bundle install --path .bundle

      - name: Lint Podspec File
        run: |
          POD_VERSION=0.0.1-for-ci-test SERVAL_KIT_VERSION=${{ github.event_name == 'pull_request' ? github.event.pull_request.head.sha : github.sha }} bundle exec pod spec lint svg/ServalSVG.podspec --verbose --skip-import-validation --allow-warnings