name: Build SVG Artifacts

on:
  pull_request:
    branches: ["main"]
    paths:
      - "svg/**"
      - ".github/workflows/build_svg.yml"


jobs:
  build-android:
    name: Build Android
    runs-on: lynx-ubuntu-22.04-large
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java SDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: "zulu"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 9862592

      - name: Install CMake
        run: echo "y" | sdkmanager --install "cmake;3.18.1"

      - name: Build AAR
        working-directory: svg/platform/android
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease

      - name: Upload Android Artifacts
        uses: lynx-infra/upload-artifact@332ec52e99f7cbf1fbbdc9bcc09280d49147d092
        with:
          name: android-svg-build
          path: svg/platform/android/build/outputs/aar/*.aar

  build-ios:
    name: Build iOS
    runs-on: lynx-darwin-14-medium
    steps:
      - uses: actions/checkout@v3

      - name: Install Cocoapods Generate
        run: |
          export SDKROOT=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
          bundle install --path .bundle

      - name: Lint Podspec File
        run: |
          POD_VERSION=0.0.1-for-ci-test SERVAL_KIT_VERSION=${{ github.event.pull_request.head.sha }} bundle exec pod spec lint svg/ServalSVG.podspec --verbose --skip-import-validation --allow-warnings

  build-harmony:
    name: Build HarmonyOS
    runs-on: lynx-custom-container
    container:
      image: ghcr.io/lynx-family/ubuntu24.04-harmony@sha256:8eb0ee8da7e8592669f0fcd41d0e1bc818b33a75e27943521f57af87d04db2fb
      credentials:
        username: lynx-family
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Download Source
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install dependencies and Build
        shell: bash
        working-directory: .
        run: |
          source tools/envsetup.sh
          pushd svg/platform/harmony && ohpm install && popd
          pushd svg/examples/harmony && ohpm install
          chmod +x ./scripts/build.py
          ./scripts/build.py --modules servalsvg

      - name: Upload Harmony Artifacts
        uses: lynx-infra/upload-artifact@332ec52e99f7cbf1fbbdc9bcc09280d49147d092
        continue-on-error: true
        with:
          name: harmony-svg-build
          path: svg/platform/harmony/servalsvg/build/default/outputs/default/servalsvg.har
